@model SportsStation.Models.SportsMaterial

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sports Material</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SportsBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SportsBrand.SportsBrandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SportsCategorySportsMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SportsCategorySportsMaterial.SportsCategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SportsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
