@model IEnumerable<SportsStation.Models.SportsMaterial>

@{
    ViewData["Title"] = "Index";
}

<h1>All Sports Material Details</h1>

<p>
    <a asp-action="Create">Add New Sports Material</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SportsBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SportsCategorySportsMaterial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SportsBrand.SportsBrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SportsCategorySportsMaterial.SportsCategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SportsID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SportsID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SportsID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
